html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #292f33;
  }

h2 {
  padding-left: 15px;
}

ul {
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

a {
  color: $mainOrange;
}

.button{
  width: 210px;
  height: 38px;
  color: white;
  background-color: $mainOrange;
  border-radius: 8px;
  text-decoration: none;
  border: none;
  margin: 0 auto 65px auto;
  text-align: center;
  line-height: 38px;
  display: block;
}

p {
  padding: 15px;
}

.textOrange {
  color: $mainOrange;
  font-weight: 400;
}

.textOrange--bold {
  color: $mainOrange;
  font-weight: 600;
}

.quick-link {
  text-align: center;
  margin-top: 10px;

  @mixin atMedium {
    text-align: left;
    padding-left: 15px;
  }
}

.quick-link a {
  color: $mainGreen;
}

.image-wrap {
  margin: 10px auto;

  @mixin atLarge {
    margin: 0;
    padding-top: 15px;
  }
}

.quote {
  color: $mainGreen;
  font-weight: 900;
}

sup {
  vertical-align: 0.1rem;
  font-size: 0.7rem;;
}