html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #292f33;
  }

ul {
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

a {
  color: $mainOrange;
}

.quick-link {
  font-size: 1rem;
}

p {
  padding: 15px;
}

.textOrange {
  color: $mainOrange;
  font-weight: 400;
}

.textOrange--bold {
  color: $mainOrange;
  font-weight: 600;
}

.quick-link {
  text-align: center;
  margin-top: 10px;

  @mixin atMedium {
    text-align: left;
  }
}

.quick-link a {
  color: $mainGreen;
}

.image-wrap {
  margin: 10px 0;
}

