.argument-cta {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.argument-cta h2 {
    text-align: center;
    padding-top: 25px;
    font-weight: 400;
    font-size: 2rem;
    grid-column: 1/5
}



/* Mailchimp CSS selectors */



#mc_embed_signup {
    grid-column: 2/4;
    justify-self: center;
    padding-bottom: 25px;;
}

input.button {
    background-color: $mainOrange;
    color: white;
    border-radius: 8px;
    border: none;
    height: 37px;
    width: 100%;
}

div.mc-field-group input {
    font-size: 1rem;
}