.argument-cta {
   
    &-button{
        width: auto;
        padding: 10px 55px;
        color: white;
        background-color: $mainOrange;
        border-radius: 8px;
        text-decoration: none;
        border: none;
        margin: 0 auto 65px auto;
        display: block;
    }
}

.argument-cta h2 {
    text-align: center;
    padding-top: 25px;
    font-weight: 400;
    font-size: 2rem;
    grid-column: 1/5
}



