.argument-cta {
   &-grid-item{
        margin: 0 auto 65px auto;
        
    }
}

.argument-cta h2 {
    text-align: center;
    padding-top: 25px;
    font-weight: 400;
    font-size: 2rem;
    grid-column: 1/5
}



