.argument-pain p {
    font-size: 1.5rem;
    line-height: 1.4;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0;
}

.argument-pain__responsive {
    display: none;

    @mixin atMedium {
        display: block;
        margin: 0 auto 15px auto;
        
    }
}

.argument-pain__cta {
    display: none;
    padding-bottom: 20px;
    

    @mixin atMedium {
        display: block;
        font-size: 1.5rem;
        line-height: 1.4;
        text-align: center;
        
        
        

        
    }
}


